<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Пекарня</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLinkActive="active" routerLink="/categorii">Категория продуктов</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/products">Продукты</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink = "/login">Войти</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink = "/cart">Корзина</a>
      <!-- <a class="nav-item nav-link" href="javascript:void(0);" (click)="logout()">Выйти</a> -->
    </div>
  </div>
</nav>
<div class="container content">
  <div class="row">             
    <div class="col-md-12">     
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
 