<div>
  <h2>Список продуктов</h2>
  <ul class="heroes">
    <li *ngFor="let product of products">
      <span class="span">Наименование: {{product.name}}</span><br>
      <span class="span">Цена: {{product.price}}$</span><br>
      <span class="span">Категория: {{product.category}}</span><br>
      <button class="button" [routerLink]="['/cart', { id:product.id }]" >Добавить в корзину</button>
    </li>
  </ul>
</div>
<!-- <div class="container content">
    <div class="row" *ngFor="let product of products" routerLink="/products/{{product.id}}">             
      <div class="col-md-6">     
          
        <span class="badge">Наименование: {{product.name}}   </span><br>
        <span class="badge">Цена: {{product.price}}$</span><br>
        <span class="badge">Категория: {{product.category}}</span><br>
          
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div> -->

